*{
    box-sizing: border-box;
    margin:0;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Mirza', cursive;
}

a {
    text-decoration: none;
}

.slick-slider {
    height: 350px;
    overflow-y: hidden;
}

.slick-dots {
    margin: 40px;
}